:root {
    --dark: #303339;
    --accent: #FDDD04;
    --light-grey: #F5F6F6;
    --dark-grey: #BDBDBE;
}

#scrollUp:hover {
    background-color: var(--accent);
}

::selection {
    background-color: var(--accent);
}

::-moz-selection {
    background-color: var(--accent);
}

.container {
    width: 95%;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

html {
    color: var(--dark);
    font-size: 16px;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.body-overflow {
    overflow: hidden !important;
}

.common-label {
    width: 100%;
    margin-bottom: 20px;
}

.common-input {
    width: 100%;
    height: 44px;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid var(--dark-grey);
    background-color: #FFF;
    padding: 9px 15px;
}

.common-input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--dark-grey);
}

.common-select {
    background-color: #FFF;
    padding: 0px 15px;
    width: 100%;
    height: 44px;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid var(--dark-grey);
}

.common-title {
    font-family: 'Hagin Caps';
    font-style: normal;
    font-weight: 500;
}

.common-hr {
    margin-top: 20px;
    background-color: var(--dark-grey);
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.common-h2 {
    font-size: 48px;
    color: #000;
    text-align: center;
    line-height: 48px;
    margin: 0px;
}

.common-h3 {
    font-size: 24px;
    color: #000;
    margin: 0px;
    line-height: 24px;
}

span.ruble-icon {
    font-family: "Helvetica Neue", sans-serif;
}

.common-btn {
    width: fit-content;
    width: -moz-fit-content;
    outline: none;
    height: 64px;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    font-size: 32px;
    line-height: 32px;
    font-family: 'Bebas Neue';
    font-weight: bold;
    cursor: pointer;
    padding-top: 2px;
}

.common-owl {
    width: 90%;
    max-width: 874px;
    margin: 0px auto;
}

.common-owl .item {
    max-width: 270px;
    display: block;
}

.common-owl .item__name, .promotions-list-mobile .item__name, .novelty-list-mobile .item__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-top: 18px;
    margin-bottom: 8px;
    color: var(--dark);
}

.common-owl .item__price, .promotions-list-mobile .item__price, .novelty-list-mobile .item__price {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark);
}

.product__right .item__price, .category__list__li .item__price {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark);
}

.category__list__li .item__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-top: 18px;
    margin-bottom: 8px;
    color: var(--dark);
}

.common-owl .owl-stage-outer {
    z-index: 2;
}

.common-owl .owl-nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 200px);
    top: 140px;
    margin-top: -50px;
    height: 100px;
    z-index: 1;
    left: -100px;
    position: absolute;
}

.common-owl .owl-dots {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    height: 16px;
    margin: 0px auto;
    margin-top: 65px;
}

.common-owl .owl-dot {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--dark);
    border-radius: 50%;
}

.common-owl .owl-dot.active {
    background-color: var(--dark);
}

.common-owl .owl-prev, .common-owl .owl-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    height: 100%;
    width: 57px;
    border-radius: 4px;
    position: relative;
}

.common-owl .owl-prev:after, .common-owl .owl-next:after {
    content: '';
    display: block;
    width: 13px;
    height: 21px;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -10px;
    background: url("../img/icons/arrow.svg") center center no-repeat;
    background-size: contain;
}

.common-owl .owl-prev:after {
    transform: rotate(180deg);
}

.common-btn-accent {
    background-color: var(--accent);
    color: #000;
}

.common-btn-accent:hover {
    background-color: var(--accent);
    color: #000;
}

.common-text {
    font-size: 16px;
    margin: 0px;
}

.header__top {
    padding: 4px 0px;
    width: 100%;
}

.header__phone {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: var(--dark);
}

.header__time {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: var(--dark);
    opacity: 0.7;
}

.header__logo__img {
    height: 72px;
}

.header__club {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    color: var(--dark);
    margin-left: 88px;
}

.header__bottom {
    background-color: #000;
    top: 0;
}

.header__bottom__content {
    width: 100%;
    padding: 14px 0px 10px 0px;
}

.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
}

.menu__item__link {
    font-family: 'Hagin Caps';
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #FFF;
}

.menu__item__link:hover {
    color: #FFF;
}

.menu-left {
    max-width: 379px;
}

.menu .menu__item__link {
    margin-right: 40px;
}

.header__cart-wrap {
    position: relative;
    margin-bottom: -14px;
    height: 65px;
    display: flex;
    margin-top: -14px;
}

.header__cart-wrap:hover .cart-hover {
    display: block;
}

.cart {
    margin-top: -5px;
}

.cart__text {
    font-family: 'Hagin Caps';
    color: var(--accent);
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
}

.cart__icon {
    color: var(--accent);
    margin-left: 8px;
    font-size: 21px;
}

.header__bottom__img {
    margin-left: 30px;
}

.banner {
    padding-top: 180px;
    padding-bottom: 266px;
    background: url('../img/banner/bg.jpg') center center no-repeat;
    background-size: cover;
}

.banner__title {
    color: #fff;
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 46px;
}

.promotions {
    padding-top: 132px;
    padding-bottom: 132px;
}

.promotions-list-mobile, .novelty-list-mobile {
    display: none;
    width: 100%;
}

.promotions-list-mobile .item, .novelty-list-mobile .item {
    margin-bottom: 32px;
}

.promotions__content, .novelty__content {
    position: relative;
    width: 100%;
}

.promotions__title, .novelty__title {
    width: 100%;
    margin-bottom: 32px;
}

.novelty {
    padding-bottom: 132px;
}

footer {
    background-color: #000;
    padding-top: 64px;
    padding-bottom: 80px;
}

.footer-wrap {
    max-width: 874px;
    width: 100%;
    margin: 0px auto;
}

.footer__column {
    width: 33%;
}

.footer__column__title {
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.footer__list__item {
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 16px;
}

.footer__list__item__link {
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 135%;
}

.footer__list__item__link:hover {
    color: var(--dark-grey);
}

.footer__list__item__email, .footer__list__item__phone {
    display: block;
    font-weight: bold;
    color: var(--light-grey);
}

.menu-burger {
    display: none;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 3;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000;
    padding-top: 19px;
}

.mobile-menu .header__bottom__img {
    margin: 0px auto;
    display: block;
}

.mobile-menu .menu {
    padding-left: 16px;
}

.mobile-menu .menu-wrap {
    margin-top: 45px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--dark);
}

.mobile-menu .menu__item {
    margin-bottom: 24px;
}

.mobile-menu .header__info {
    padding-left: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.mobile-menu .header__phone {
    color: #fff;
}

.mobile-menu .header__time {
    color: #fff;
}

.mobile-menu .header__club {
    padding-left: 16px;
    color: #fff;
    margin-left: 0;
}

.close-menu {
    position: absolute;
    top: 20px;
    cursor: pointer;
    right: 15px;
}

.information {
    padding: 75px 0px;
}

.information__content {
    width: 100%;
}

.information__tile {
    margin-bottom: 50px;
}

.information__column__title {
    margin-bottom: 15px;
}

.information__row {
    margin-bottom: 30px;
}

.information__column {
    flex: 1;
}

.information__column:first-child {
    margin-right: 20px;
}

.information__column__link {
    text-decoration: underline;
    font-size: 16px;
    display: block;
    margin-top: 15px;
}

.information__column__link:hover {
    text-decoration: underline;
    font-size: 16px;
}

.information__list {
    margin-top: 20px;
    list-style: disc;
    font-size: 16px;
    padding-left: 18px;
}

.map {
    padding-bottom: 50px;
}

.map__block {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    height: 500px;
}

.map__sidebar {
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    width: 300px;
    background-color: white;
    border: 1px solid var(--dark-grey);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.map__block > ymaps {
    width: 100% !important;
    height: 100% !important;
}

.map__sidebar__close {
    position: absolute;
    filter: brightness(0%);
    right: 15px;
    top: 20px;
    cursor: pointer;
}

.map__sidebar__title {
    margin-bottom: 15px;
}

.map__sidebar__img {
    margin-bottom: 15px;
}

.map__sidebar__item {
    margin-bottom: 15px;
}

.map__sidebar__item__icon {
    font-size: 20px;
    padding-top: 3px;
    width: 10px;
}

.map__sidebar__item__right {
    margin-left: 20px;
}

.map__sidebar__item__title {
    font-weight: bold;
    font-size: 16px;
}

.map__sidebar__text {
    margin-top: 5px;
    font-size: 14px;
}

.item__price__li {
    margin-bottom: 10px;
}

.item__price__li__volume {
    font-size: 14px;
}

.item__price__li__minus, .item__price__li__plus {
    cursor: pointer;
}

.item__price__li__right {
    width: 75px;
}

.item__price__li__inactive {
    opacity: 0.3;
    cursor: default;
}

.product {
    padding: 70px 0px;
}

.product-wrap {
    width: 100%;
}

.product__left-gallery {
    margin-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    position: relative;

}

.product__left-gallery .owl-stage-outer {
    z-index: 2;
}

.product__left {
    width: 50%;
}

.product__left-gallery .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.product__left-gallery .owl-prev:after {
    font-family: 'FontAwesome';
    content: '\f104';
    font-size: 32px;
    color: var(--dark-grey);
}

.product__left-gallery .owl-next:after {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 32px;
    color: var(--dark-grey);
}

.product__right {
    width: 50%;
    padding-left: 40px;
}

.product__title {
    margin-bottom: 30px;
    text-align: left;
}

.product__text {
    margin-bottom: 30px;
}

.product__id {
    font-size: 14px;
    display: block;
    margin-bottom: 30px;
    color: var(--dark-grey);
}

.product__btn {
    margin-bottom: 30px;
}

.product__item {
    max-width: 285px;
    margin-bottom: 30px;
}

.category {
    padding: 75px 0px;
}

.category-wrap {
    width: 100%;
}

.category__title {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.category__list__li {
    max-width: 270px;
    margin-bottom: 30px;
}

.item img {
    width: 100%;
}

.cart-sect {
    padding: 75px 0px;
}

.cart__title {
    margin-bottom: 50px;
    width: 100%;
}

.cart-wrap {
    width: 100%;
}

.cart__table-wrap {
    width: 100%;
    overflow: auto;
}

.cart__table {
    margin: 0px;
    width: 800px;
}

.cart__table {
    border-collapse: collapse;
}

.cart__table thead .cart__table__row {
    background-color: var(--light-grey);
}

.cart__table .cart__table__cell {
    padding: 15px;
    text-align: center;
    vertical-align: middle;

}

.cart__table .cart__table__row {
    border: 1px solid var(--dark-grey);
}

.cart__table__cell .item__price__li__right {
    margin: 0px auto;
    font-size: 24px;
    line-height: 28px;
    color: var(--dark);
}

.cart__table__cell .item__price__li__count {
    margin: 0px 15px;
}

.cart__table__cell .item__price__li__price {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark);
}

.cart__table__cell .product__id {
    margin-bottom: 0;
}

.cart__table__cell__delete {
    filter: brightness(0%);
    height: 20px;
    cursor: pointer;
}

.cart__card {
    width: 100%;
    max-width: 330px;
    background-color: var(--light-grey);
    height: auto;
    padding: 30px;
    border: 1px solid var(--dark-grey);
}

.cart__time__span {
    margin: 0px 10px;
}

.cart__btn {
    width: 100%;
    height: 44px;
    font-size: 20px;
    line-height: 20px;
}

.cart__card__price {
    width: 100%;
}

.cart__card__line {
    margin-bottom: 10px;
}

.cart__card__line-last {
    margin-bottom: 20px;
}

.cart__card__line-last .cart__card__line__text {
    font-size: 16px;
    line-height: 16px;
    color: var(--dark);
}

.cart__card__line-last .cart__card__value {
    font-size: 22px;
    line-height: 22px;
    color: var(--dark);
    font-weight: bold;
}

.cart-hover {
    display: none;
    overflow-y: auto;
    max-height: 500px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid var(--dark-grey);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 63px;
    right: 0px;
}

.cart-hover__list__item {
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-grey);
}

.cart-hover__text-block__text {
    display: block;
    margin-bottom: 5px;
}

.cart-hover__text-block__name {
    font-weight: bold;
}

.cart-hover__text-block__price {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
}

.cart-hover__list__item__delete {
    height: 12px;
    filter: brightness(0%);
    cursor: pointer;
}

.cart-hover__list__item-hidden {
    display: none !important;
}
.date-label {
    display: none;
}