@media (min-width: 1200px) {
    .container {
        max-width: 1176px;
    }
}

@media screen and (max-width: 1200px) {
    .menu .menu__item__link {
        margin-right: 20px;
    }

    .menu-left {
        width: auto;
    }

    .promotions-list-mobile, .novelty-list-mobile {
        display: flex;
    }

    .common-owl {
        display: none !important;
    }

    .product__left img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .header__logo__img {
        height: 48px;
    }

    .product__social li {
        margin-bottom: 10px;
    }
    .category__list {
        flex-direction: column;
        align-items: center!important;
    }
    .menu {
        display: none !important;
    }

    .menu-wrap {
        display: none;
    }

    .menu-burger {
        display: block;
    }

    .header__bottom__img {
        margin-left: 0px;
    }

    .cart__text {
        display: none;
    }

    .mobile-menu .menu {
        display: flex !important;
    }

    .mobile-menu .menu-wrap {
        display: block !important;
    }

    .header__phone, .header__club {
        font-size: 16px;
    }

    .mobile-menu .header__phone, .mobile-menu .header__club {
        font-size: 24px;
    }

    .banner {
        padding-top: 67px;
        padding-bottom: 79px;
        background: url('../img/banner/bg-mobile.jpg') center center no-repeat;
        background-size: cover;
    }

    .banner__title {
        font-size: 32px;
        line-height: 32px;
    }

    .common-btn {
        height: 44px;
        font-size: 20px;
        line-height: 20px;
    }

    .promotions {
        padding: 40px 0px;
    }

    .novelty {
        padding-bottom: 40px;
    }

    /*.category__list__li .item {*/
    /*    width: 150px;*/
    /*}*/

    /*.category__list__li .item__price__li {*/
    /*}*/

    /*.category__list__li .item__price {*/
    /*    font-size: 16px;*/
    /*    line-height: 16px;*/
    /*    margin-top: 10px;*/
    /*}*/

    /*.category__list__li .item__price__li__price {*/
    /*    font-weight: bold;*/
    /*}*/

    /*.category__list__li .item__price__li__right {*/
    /*    width: 45px;*/
    /*}*/
}

@media screen and (max-width: 600px) {
    .footer-wrap {
        flex-direction: column;
    }

    .footer__column {
        width: 100%;
        border-bottom: 1px solid var(--dark);
        padding-bottom: 16px;
        margin-bottom: 40px;
    }

    .footer__column:last-child {
        border-bottom: none;
    }

    footer {
        padding-bottom: 0;
    }

    .information__row {
        flex-direction: column;
    }

    .information__column {
        flex: auto;
        margin-bottom: 20px;
    }

    .map__sidebar {
        position: relative;
        height: auto;
        width: 100%;
    }

    .map__block {
        height: auto;
    }

    .map__block > ymaps {
        height: 300px !important;
    }

    .product-wrap {
        flex-direction: column;
    }

    .product__left, .product__right {
        width: 100%;
    }

    .product__left {
        margin-bottom: 50px;
    }

    .product__right {
        padding-left: 0;
    }
}